:root {
    /* Colors */
    --background: #111111;
    --code: #202020;
    --link: #90DF94;
    --cite: #92938A;
    --foreground: #F5F5F5;
    
    /* Font sizes */
    --font-size-0: 31pt;
    --font-size-1: 25pt;
    --font-size-2: 13pt;
    --font-size-2b: 13pt;
    --font-size-3: 11pt;
}

@font-face {
    font-family: "MainFont";
    src: url("/fonts/main.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,body {
    color: var(--foreground);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

* {
    font-family: MainFont;
}
