* {
    font-size: 15pt;
}

@font-face {
    font-family: "TitleFontBold";
    src: url("/fonts/title-bold.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

#container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2em 1fr 2em;
}

#item {
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 800px) {
    #container {
        grid-template-columns: 3.33em 1fr 3.33em;
    }
}

@media (min-width: 1000px) {
    #container {
        grid-template-columns: 1fr 580px 1fr;
    }
}

@media (min-width: 1200px) {
    #container {
        grid-template-columns: 1fr 780px 1fr;
    }
}

#title {
    font-family: TitleFontBold;
    font-weight: normal;
    font-size: 75pt;
    text-align: center;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 0.5rem;
}

#title-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
}

.post-entry {
    border-left: 2px solid var(--foreground);
    padding-left: 16px;
    margin-bottom: 16px;
}

.post-title {
    font-size: 18pt;
    margin-bottom: 4px;
}

.post-metadata span {
    color: var(--cite);
    margin-right: 8px;
}

.post-metadata .post-date {
    margin-right: 16px;
}

.post-date::after {
    content: "\A";
    white-space: pre;
}
  
@media (min-width: 1000px) {
    .post-date::after {
        content: "";
        white-space: normal;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;
    font-size: inherit;
}

@keyframes make-link {
    0% { }
    100% {
        color: var(--link);
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

.post-title a:hover, #socials a:hover, .post-metadata a:hover {
  animation: make-link 0.5s ease;
  animation-fill-mode: forwards;
}

#socials > span {
    margin-right: 0.5rem;
}

.socials-prefix {
    color: var(--cite);
    display: none;
}
