* {
    font-size: 15pt;
}

@font-face {
    font-family: "TitleFontBold";
    src: url("/fonts/title-bold.woff2") format("woff2"); 
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

#container {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2em 1fr 2em;
}

#item {
    grid-column: 2;
    overflow-x: hidden;
    overflow-y: hidden;
}

#title {
    font-family: TitleFontBold;
    font-weight: normal;
    font-size: 50pt;
    text-align: center;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 0.5rem;
}

#title-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0 3rem 0;
}

.post-entry {
    border-left: 3px solid var(--foreground);
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.post-title {
    font-size: 16pt;
    margin-bottom: 0.25rem;
}

.post-metadata * {
    font-size: 13pt;
}

.post-metadata span {
    color: var(--cite);
    margin-right: 0.5rem;
}

.post-metadata .post-date {
    margin-right: 0.5rem;
}

.post-date::after {
    content: "\A";
    white-space: pre;
}

a:hover {
    animation: make-link 0.5s ease;
    animation-fill-mode: forwards;
}

#socials > span {
    margin-right: 0.5rem;
    font-size: 14pt;
}

#posts {
    margin-bottom: 3rem;
}

@media (min-width: 800px) {
    .post-date::after {
        content: "";
        white-space: normal;
    }
    
    #title {
        font-size: 75pt;
    }
    
    .post-metadata {
        line-height: 1.15em;
    }
    
    #container {
        grid-template-columns: 1fr 580px 1fr;
    }
    
    #socials > span {
        margin-right: 0.75rem;
        font-size: 15pt;
    }
}
