<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>z2's blog</title>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <div id="container">
            <div id="item">
                <div id="profile">
                    <a href="https://github.com/z2-2z">
                        <img src="https://avatars.githubusercontent.com/u/88509734"/>
                    </a>
                </div>
                <div id="title-container">
                    <span id="title">z2's blog</span>
                    <a href="/atom.xml"><img id="rss-symbol" src="/img/rss.png"></a>
                </div>
                <div id="posts">
                    {% for post in posts %}
                        {% if post.metadata().startpage() %}
                            <div class="post-entry" data-title="{{ post.metadata().title().to_ascii_lowercase() }}" data-categories="{% for cat in post.metadata().categories()  %}|{{ cat.to_ascii_lowercase() }}|{% endfor %}">
                                <div class="post-title">
                                    <a href="{{ post.url() }}">{{ post.metadata().title() }}</a>
                                </div>
                                <div class="post-metadata">
                                    <span class="post-date">{{ "{:02} {}. {:04}"|format(post.metadata().date().day(), post.metadata().date().month_name(), post.metadata().date().year()) }}</span>
                                    {% for cat in post.metadata().categories() %}
                                        <span><a href="/?#category%3A%22{{ cat }}%22">#{{ cat }}</a></span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="archive-link">
                    <a href="/archive.html">See all posts...</a>
                </div>
            </div>
        </div>
    </body>
</html>
