<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>z2's blog</title>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>
        <div id="container">
            <div id="item">
                <div id="profile">
                    <img src="https://avatars.githubusercontent.com/u/88509734"/>
                </div>
                <h1>z2's blog</h1>
                <div id="posts">
                    {% for post in posts %}
                        <div class="post-entry">
                            <div class="post-title">
                                <a href="/{{ post.url() }}">{{ post.metadata().title() }}</a>
                            </div>
                            <div class="post-metadata">
                                <span class="post-date">{{ "{:02} {}. {:04}"|format(post.metadata().date().day(), post.metadata().date().month_name(), post.metadata().date().year()) }}</span>
                                {% for cat in post.metadata().categories() %}
                                    <span>#{{ cat }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
