<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description" content="{{ title }}">
        <meta name="author" content="z2">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
        <link rel="stylesheet" href="/css/post.css"/>
        
        {% if uses_code %}
            <link rel="stylesheet" href="/css/atom-one-dark.min.css"/>
            
            <script src="/js/highlight.min.js"></script>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    hljs.highlightAll();
                });
            </script>
            
            {% for language in languages %}
                <script src="/js/hljs/{{ language }}.min.js"></script>
            {% endfor %}
        {% endif %}
        
        <script async data-id="101440355" src="https://static.getclicky.com/js"></script>
    </head>
    <body>
        <div id="container">
            <div id="item">
