<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
        <link rel="stylesheet" href="/css/post.css"/>
        <link rel="stylesheet" href="/css/atom-one-dark.min.css"/>
        
        <script src="/js/highlight.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                hljs.highlightAll();
            });
        </script>
    </head>
    <body>
        <div id="container">
            <div id="item">
