<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description" content="{{ title }}">
        <meta name="author" content="z2">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:type" content="article">
        <meta property="article:author" content="https://github.com/z2-2z">
        <meta property="og:site_name" content="z2's blog">
        <meta property="og:url" content="https://z2-2z.github.io/{{ url }}">
        <meta property="og:description" content="z2's blog">
        <meta proprety="og:image" content="https://z2-2z.github.io/img/og-image.jpg">
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="720">
        <meta property="og:image:type" content="image/png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@_z2_2z_">
        <meta name="twitter:creator" content="@_z2_2z_">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="z2's blog">
        <meta name="twitter:image" content="https://z2-2z.github.io/img/og-image.jpg">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/common.css"/>
        <link rel="stylesheet" href="/css/post.css"/>
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Atom feed"/>
        
        {% if uses_code %}
            <style>
                @font-face {
                    font-family: "CodeFont";
                    src: url("/fonts/code.woff2") format("woff2");
                    font-weight: normal;
                    font-style: normal;
                    font-display: block;
                }
            </style>
        
            <link rel="preload" href="/css/atom-one-dark.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
            <noscript><link rel="stylesheet" href="/css/atom-one-dark.min.css"></noscript>

            <script src="/js/highlight.min.js" defer="defer"></script>
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    hljs.highlightAll();
                });
            </script>
            
            {% for language in languages %}
                <script src="/js/hljs/{{ language }}.min.js" defer="defer"></script>
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <div id="container">
            <div id="item">
